{{> partials/navbar }}

<div class="container" id="despues">
  
    <div class="row">
      {{!-- Inicio de contenedor --}}
      <div class="contenedor">
       
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Tienda</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Año</th>
                    <th scope="col">Inventario</th>
                    <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="infoTable">

                    {{#each infoUser}}
                    <tr>
                        <td data-label="TIENDA">{{this.store_name}}</td>
                        <td data-label="PRODUCTO">{{this.product_name}}</td>
                        <td data-label="AÑO">{{this.model_year}}</td>
                        <td data-label="STOCK">{{this.quantity}}</td>
                        <td>
                            {{!-- // infoProducto(buscar.store_name, buscar.product_id, replaceQuotes(buscar.product_name), buscar.quantity) --}}
                            <button type="button" name="{{this.email}}" class="btn btn-danger btn-sm" id="{{this.product_id}}">
                                Editar
                            </button>

                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

      </div>
      {{!-- Cierre de contenedor --}}
    </div>

</div>

<!-- Modal Mensaje -->
<div class="modal fade" id="mensajesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
       
            <div class="modal-header">
                <h5 class="infoTienda my-0">
                    {{#if logout}}
                        Editar producto
                    {{/if}}
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
            </div>
            <div class="modal-body text-uppercase my-2">

                <form autocomplete="off" id="formulario">
                    <div class="mb-3">
                        <input type="text" id="product_name" class="form-control">
                    </div>

                    <select class="form-select" name="category_id" id="categoryNameSelect">
                        <option value="-1" selected="">Seleccione una categoría</option>
                    </select>
                    <small id="alertDangerCategory" class="mt-1 mb-3 text-danger"></small>

                    <select class="form-select" name="brand_name" id="brandNameSelect">
                         <option value="-1" selected="">Seleccione una marca</option>
                    </select>
                    <small id="alertDangerBrand" class="mt-1 mb-3 text-danger"></small>
                    
                    <div class="row">
                            <div class="mb-3 col-6">
                                 <label for="year" class="form-label">Año</label>
                                <input type="text" id="year" class="form-control">
                            </div>
                            <div class="mb-3 col-6">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="quantity" class="form-label">Stock</label>
                                        <input type="text" id="quantity" class="form-control">
                                    </div>
                                    <div class="col-6">
                                        <label for="price" class="form-label">Precio</label>
                                        <input type="text" id="price" class="form-control">
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success m-auto text-uppercase editar">Guardar</button>
                    </div>
                </form>
             
            </div>
            {{!-- genna.serrano@bikes.shop --}}
            {{!-- <div class="modal-footer">
                {{#if logout}}
                        <button type="button" id="nextSesion" class="btn btn-secondary" data-bs-dismiss="modal">Continuar con la sesión</button>
                {{/if}}
            </div> --}}
            </div>
        </div>
</div>

<div class="modal fade" id="infoSesion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            {{#if logout}}
            <div class="modal-header">
                <h5 class="infoTienda my-0"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{/if}}
            <div class="modal-body text-center text-uppercase my-2">
                {{#if logout}}
                    <p>{{> partials/logout}} <span id="result" class="text-danger"></span></p>
                    <p>Si desea continuar con la sesión </p>
                    <button type="button" id="nextSesion" class="btn btn-secondary" data-bs-dismiss="modal">Continuar con la sesión</button>
                {{/if}}
            </div>
            {{!-- <div class="modal-footer">
                {{#if logout}}
                        <button type="button" id="nextSesion" class="btn btn-secondary" data-bs-dismiss="modal">Continuar con la sesión</button>
                {{/if}}
            </div> --}}
            </div>
        </div>
</div>

{{!-- Vinculamos Javascript personal --}}
<script type="module" src="/js/appDashboard.js"></script>
{{!-- <script>
    {{console.log(infoUser)}}
</script> --}}


